@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-blue-600
  }
}

.output {
  float: left;
}

.chart {
  width: 200px;
  height: 200px;
}

.endnote {
  clear: both;
  font-size: 75%;
}

.description {
  color: grey;
  font-style: italic;
}
